
/* Trucs généraux */

body {
    background-color: ivory;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
} 

h1 {
    font-weight :700;
}

.padding {
    padding: 12px;
}

/* Section1 */
.section1 {
    color: white;
    text-shadow: 2px 2px 4px black;
}

.nom {
    color:#ffd740;
    font-size:3em;
    font-weight:900;
}

.homeResume {
    background-image : url('images/ouessant1.JPG');
    background-size: cover;
    height: 500px;
}

.homeVoyages {
    background-image: url('images/japon1.jpg');
    background-size: cover;
    height: 500px;
}

.dropdown {
    text-shadow: none;
}

.section1 a {
    color:#ffd740;
}

/* Section 2 */
.section2 {
    background-color: #ffd740;
}

td, th {
    border: none !important;
}

/* Section 3 */
.section3 {
    color:ivory;
    background-image : url('images/ouessant1-sombre.JPG');
    background-size: cover;
    background-position: center;
}

.section3 ul {
    line-height: 2.5em;
}

/* Section 4 */
.section4 {
    background-color: ivory;
}

.section4 img {
    margin: auto
}

/* Section 5 */
.section5 {
    background-color: #ffd740;
}

.shadow {
    box-shadow: 5px 5px 5px darkslategray;
}


/*Footer*/
.footer {
    background-color: #25333a;
    color:white;
}