/* Trucs généraux */

body {
    background-color: ivory;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.padding {
    padding: 10px;
}

.jaune {
    color: #ffd740;
}

/*Section 1____________________*/

h1 {
    font-weight: 700;
    color:white;
}

.section1{
    background-image: url("images/kumano1.JPG");
    background-size: cover;
    height: 700px;
}

h2 {
    color: white;
    text-align: center;
}

p {
    color: white; 
}

/*Section 2____________________*/


.grandeimg {
    height : 667px;
    width : 500px;
    padding : 30px;
}

.petiteimg {
    height : 325px;
    width : 500px;
    padding : 30px;
}