/* Declaration des polices____________________________________ */

@font-face {
    font-family: 'Lobster2';
    src: url('fonts/LobsterTwo-Regular.otf');
}

@font-face {
    font-family: 'Lobster2It';
    src: url('fonts/LobsterTwo-Italic.otf');
}

@font-face {
    font-family: 'PoppinsReg';
    src: url('fonts/Poppins-Regular.otf');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('fonts/Poppins-SemiBold.otf');
}

@font-face {
    font-family: 'PoppinsLI';
    src: url('fonts/Poppins-LightItalic.otf');
}

/* Page entière ______________________________________________*/

body {
    background-image: url('images_css/OR7WCE0_1.jpg');
}

.padding {
    padding: 10px;
}

.tabulation {
    margin-left: 2em;
}

h3
/* Intitulés */

    {
    font-family: 'Lobster2It', Arial, serif;
    font-size: 1.9em;
    padding: 0 10 10 10px;
    color: #d9b40c;
    text-decoration: underline;
}


/*Header du CV________________________________________________*/

h1
/* Nom */

    {
    font-family: 'Lobster2', Arial, serif;
    font-size: 2.5em;
}

h2
/* Titre */

    {
    font-family: 'Lobster2It', Arial, serif;
    font-size: 2em;
}

/*Colonne grise________________________________________________*/

.bandeau {
    background-color: #636467;
    color: white;
    box-shadow: 3px 3px 6px grey;
}

h5 {
    font-family: 'PoppinsLI', Arial, serif;
    font-size: 1em;
}

p {
    font-family: 'PoppinsLI', Arial, serif;
    font-size: 0.9em;
}

.photocv
/* Photo du CV */

    {
    border: 2px gray;
    border-radius: 276px;
    box-shadow: 6px 6px 10px grey;
}

.infosperso
/* Infos persos */

    {
    font-family: 'PoppinsLI', Arial, serif;
    font-size: 1em;
    background-color: #414142;
    box-shadow: 3px 3px 6px grey;
    line-height: 1;
}

.bandeau a
/*Lien hypertexte contact*/

    {
    color: white;
    text-decoration: underline;
}

.bandeau a:hover
/*Lien hypertexte contact au survol*/

    {
    color: grey;
}

/*Partie blanche________________________________________*/

.corps {
    background-color: white;
    opacity: 0.9;
    box-shadow: 3px 3px 6px grey;
    color: black;
}

.intro h4 {
    line-height: 1.4;
}

.italique {
    font-style: italic;
}

h4
/* Postes */

    {
    font-family: 'PoppinsReg', Arial, serif;
    font-size: 1.1em;
}

.poste1, .poste2, .poste3, .poste4, .poste5 {
    cursor: pointer;
}

.depliant1, .depliant2, .depliant3, .depliant4, .depliant5 {
    height: 0;
    overflow: hidden;
    transition: height 300ms ease;
}

.depliant1-ouvert {
    height: auto;
}

.depliant2-ouvert {
    height: auto;
}

.depliant3-ouvert {
    height: auto;
}

.depliant4-ouvert {
    height: auto;
}

.depliant5-ouvert {
    height: auto;
}

.fleche1, .fleche2, .fleche3, .fleche4, .fleche5 {
    transform: rotate(0);
    transition: transform 300ms ease;
}

.fleche1--active, .fleche2--active, .fleche3--active, .fleche4.active, .fleche5.active {
    transform: rotate(90deg);
}

p
/* Contenu */

    {
    font-family: 'PoppinsReg', Arial, serif;
    font-size: 0.9em;
}

li
/* Listes */

    {
    font-family: 'PoppinsReg', Arial, serif;
    font-size: 0.9em;
}

.liencorps
/*Liens hypertexte*/

    {
    color: black;
    text-decoration: underline;
}

.liencorps:hover
/*Liens hypertexte au survol*/

    {
    color: grey;
}

/*________________________________________________*/

.footer
/*Footer*/

    {
    font-size: 0.7em;
}